In [18]:
from pathlib import Path

import numpy as np
import pandas as pd

from sklearn.preprocessing import LabelEncoder

In [4]:
SUB_PATH = Path('../submissions')

In [55]:
linear_df = pd.read_csv(SUB_PATH/'submission.csv')
linear2_df = pd.read_csv(SUB_PATH/'submission_2.csv')

ulmfit_df = pd.read_csv(SUB_PATH/'ulmfit_predictions.csv')
ulmfit2_df = pd.read_csv(SUB_PATH/'ulmfit_predictions_2.csv')
ulmfit3_df = pd.read_csv(SUB_PATH/'ulmfit_predictions_3.csv')
ulmfit4_df = pd.read_csv(SUB_PATH/'ulmfit_predictions_4.csv')

In [79]:
full_df = pd.concat([linear_df['label'], #linear2_df['label'],
                     ulmfit_df['label'], ulmfit2_df['label'], 
                     ulmfit3_df['label'], 
                     ulmfit4_df['label']], axis=1)
full_df.columns = ['linear', #'linear_2', 
                   'ulmfit', 'ulmfit_2', 
                   'ulmfit_3', 
                   'ulmfit_4']
full_df.head()

      linear ulmfit   ulmfit_2   ulmfit_3 ulmfit_4
0  clickbait   news       news       news     news
1  clickbait   news  clickbait       news     news
2       news   news       news       news     news
3  clickbait   news  clickbait  clickbait     news
4       news   news       news       news     news

In [80]:
codes = {'clickbait': 0, 'news': 1, 'other': 2}

In [81]:
full_df.apply(lambda x: x.map(codes)).corr()

            linear    ulmfit  ulmfit_2  ulmfit_3  ulmfit_4
linear    1.000000  0.736473  0.723342  0.678071  0.692379
ulmfit    0.736473  1.000000  0.880341  0.862803  0.861667
ulmfit_2  0.723342  0.880341  1.000000  0.857664  0.826252
ulmfit_3  0.678071  0.862803  0.857664  1.000000  0.821441
ulmfit_4  0.692379  0.861667  0.826252  0.821441  1.000000

In [82]:
all_preds_df = pd.DataFrame({'id': linear_df['id'], 'label': full_df.mode(axis=1)[0]})
all_preds_df.head()

   id      label
0   0       news
1   1       news
2   2       news
3   3  clickbait
4   4       news

In [83]:
all_preds_df['label'].value_counts(normalize=True)

news         0.830175
other        0.085001
clickbait    0.084824
Name: label, dtype: float64

In [84]:
all_preds_df.to_csv(SUB_PATH/'all_5_predictions.csv', index=False, header=True)

In [85]:
!head {SUB_PATH}/'all_5_predictions.csv'

id,label
0,news
1,news
2,news
3,clickbait
4,news
5,news
6,news
7,news
8,news

In [86]:
!wc -l {SUB_PATH}/all_5_predictions.csv

5648 ../submissions/all_5_predictions.csv

In [87]:
!kaggle competitions submit -c dlinnlp-spring-2019-clf -f {SUB_PATH}/all_5_predictions.csv -m "BL"

100%|██████████████████████████████████████| 56.9k/56.9k [00:02<00:00, 19.5kB/s]
Successfully submitted to DL in NLP Spring 2019. Classification

In [64]:
ulmfit_preds_df = pd.DataFrame({'id': linear_df['id'], 'label': full_df.filter(like='ulmfit').mode(axis=1)[0]})
ulmfit_preds_df.head()

   id label
0   0  news
1   1  news
2   2  news
3   3  news
4   4  news

In [50]:
((all_preds_df['label'] != ulmfit_preds_df['label']).sum(), 
 (full_df['ulmfit'] != ulmfit_preds_df['label']).sum(),
 (full_df['ulmfit'] != all_preds_df['label']).sum())

(134, 104, 137)

In [65]:
ulmfit_preds_df.to_csv(SUB_PATH/'all_ulmfit_predictions.csv', index=False, header=True)

In [66]:
!head {SUB_PATH}/'all_ulmfit_predictions.csv'

id,label
0,news
1,news
2,news
3,news
4,news
5,news
6,news
7,news
8,news

In [67]:
!wc -l {SUB_PATH}/all_ulmfit_predictions.csv

5648 ../submissions/all_ulmfit_predictions.csv

In [68]:
!kaggle competitions submit -c dlinnlp-spring-2019-clf -f {SUB_PATH}/all_ulmfit_predictions.csv -m "BL"

100%|██████████████████████████████████████| 56.8k/56.8k [00:02<00:00, 27.2kB/s]
Successfully submitted to DL in NLP Spring 2019. Classification