In [1]:
import numpy as np
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df = pd.read_json('users.json', orient='records')
df = df.sort_values(['workshop_number', 'tg_username'])
df

    task_number        tg_username  workshop_number
29            5             Daniil                1
14            3           Liehtman                1
18            4           Liehtman                1
23            5           Liehtman                1
8             3        Lightingale                1
12            4            Mogbymo                1
32            2       Pumpumpwirum                1
3             2        RandomDanil                1
22            4        RandomDanil                1
28            5        RandomDanil                1
30            4  Sofya_Ozherelieva                1
11            3         StacyGrach                1
36            5         StacyGrach                1
37            3        VladimirBel                1
20            3           aiGoreva                1
5             3         aleynikovs                1
6             4         aleynikovs                1
1             1        aprotopopov                1
2             2        aprotopopov                1
27            4        aprotopopov                1
7             2             arstep                1
24            3             arstep                1
39            3          ashatilov                1
13            2        bloodsource                1
15            3          burnyshev                1
16            4          burnyshev                1
31            3        dashafokina                1
19            2      default_name0                1
0             1             egshes                1
34            4             egshes                1
40            3         elavrukhin                1
21            2              fyzbt                1
38            2        gur_yan_off                1
17            5      iampolosataya                1
4             2             ionlas                1
26            4         konarkcher                1
33            4    nikitamikhaylov                1
35            5       valukov_alex                1
9             3            veegaaa                1
10            4            veegaaa                1
25            3        yagudinamir                1
44            2         Ann8156712                2
45            2      Oleg_Platonov                2
46            3      Oleg_Platonov                2
47            4      Oleg_Platonov                2
48            5      Oleg_Platonov                2
49            6      Oleg_Platonov                2
41            2        rugged_monk                2
42            3        rugged_monk                2
43            4        rugged_monk                2

In [3]:
stats_df = pd.DataFrame()

In [4]:
stats_df['tasks'] = df.groupby('tg_username')['task_number'].apply(list)
stats_df['count'] = df.groupby('tg_username')['task_number'].count()
stats_df = stats_df.sort_values('count', ascending=False)
stats_df

                             tasks  count
tg_username
Oleg_Platonov      [2, 3, 4, 5, 6]      5
Liehtman                 [3, 4, 5]      3
rugged_monk              [2, 3, 4]      3
RandomDanil              [2, 4, 5]      3
aprotopopov              [1, 2, 4]      3
veegaaa                     [3, 4]      2
burnyshev                   [3, 4]      2
StacyGrach                  [3, 5]      2
egshes                      [1, 4]      2
aleynikovs                  [3, 4]      2
arstep                      [2, 3]      2
Ann8156712                     [2]      1
iampolosataya                  [5]      1
fyzbt                          [2]      1
gur_yan_off                    [2]      1
konarkcher                     [4]      1
ionlas                         [2]      1
nikitamikhaylov                [4]      1
valukov_alex                   [5]      1
elavrukhin                     [3]      1
bloodsource                    [2]      1
default_name0                  [2]      1
dashafokina                    [3]      1
Daniil                         [5]      1
ashatilov                      [3]      1
aiGoreva                       [3]      1
VladimirBel                    [3]      1
Sofya_Ozherelieva              [4]      1
Pumpumpwirum                   [2]      1
Mogbymo                        [4]      1
Lightingale                    [3]      1
yagudinamir                    [3]      1